h1 {
    color: red;
}
.test-class {
    background-color: blue;
}
#about-me h2 {
    font-size: 20px;
}
#about-me h3 ~ img {
        width:100px;
}
.ask-me h3 {
    color: hotpink;
}
.ask-me > p {
    color: grey;
}
#box:checked {
    box-shadow: 0 0 0 3px green;
}
#box:checked + label {
    color: green;
}
#button:disabled {
   color: red;
}
.footer:hover {
    font-size: x-large;
    font-style: italic;
}